<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!--left side-->
                    <div class="col-md-12 col-12 main_header_left align-item-center">
                        <figure class="errimg">
                            <img src="image/404.png" alt="ClimateWeb" class="img-fluid">
                        </figure>

                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>