<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="image/about1.png" alt="ClimateWeb" class="img-fluid">
                        </figure>
                    </div>

                    <!--right side-->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>I am a <span class="text-col">Backend</span> Developer.</h1>
                        <a href="/aboutme.html"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>